.main-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: calc(100vh - 2 * var(--body-padding));
}

.main-header {
  grid-area: header;
}

.main-container {
  grid-area: main;
}

.main-footer {
  font-size: 0.875rem;
  grid-area: footer;
}

.links-banner {
  display: flex;
  gap: 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.links-banner img {
  opacity: 0.5;
  filter: grayscale() contrast(10);
}

.links-banner a:hover img {
  opacity: 1;
}
