.photo-upload {
  display: block;
}

.photo-upload-parse-error {
  color: #ec0000;
}

.photo-upload-form {
  border: 1px solid #241f31;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.photo-upload-form button {
  width: max-content;
}

.photo-upload-form__fieldset {
  border: 0;
  padding: 0;
}

.photo-upload-form__fieldset--disabled {
  pointer-events: none;
  opacity: 0.25;
}

.photo-upload-form__fieldset--error {
  border-left: 3px solid #ec0000;
  margin-left: -0.875rem;
  padding-left: 0.875rem;
}

.photo-upload-form-result {
  display: grid;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 10fr 1fr 10fr;
  grid-auto-rows: 1fr;
}

.photo-upload-form-result_loader {
  position: absolute;
}

.photo-upload-form-result-img-container {
  height: 100%;
  max-height: 28rem;
  margin-top: 2rem;
  padding: 1rem;
  position: relative;
}

.photo-upload-form-result__empty {
  align-items: center;
  aspect-ratio: 1 / 1;
  border: 2px dashed #ccc;
  color: #ccc;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.photo-upload-form__input-info {
  color: #767676;
  font-size: 0.75rem;
  line-height: 1.5;
  margin: -0.25rem 0 0.5rem;
}

.photo-upload-form-input {
  position: relative;
}

.photo-upload-form-input input[type="text"] {
  line-height: 1.75;
  padding: 0.2rem 0.5rem;
}

.photo-upload-form-input button {
  line-height: 2.5;
  padding: 0 0.5rem;
}

.photo-upload-form__input-error {
  font-size: 0.885rem;
  color: #ec0000;
}

.photo-upload-form__input-prefix {
  color: #767676;
  line-height: 1.75;
  margin: 0.1rem 0 0.1rem 0.5rem;
  position: absolute;
  text-align: center;
  width: 1rem;
}

.photo-upload-form__input-prefix + input[type="text"] {
  padding-left: 1.5rem;
}
