@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600&display=swap");

:root {
  --body-padding: calc(1vmin + 0.5rem);
}

html {
  max-width: 120ch;
  /* larger spacing on larger screens, very small spacing on tiny screens */
  padding: var(--body-padding);
  /* shorthand for margin-left/margin-right */
  margin-inline: auto;
  /* fluid sizing: https://frontaid.io/blog/fluid-typography-2d-css-locks-clamp/ */
  font-size: clamp(1em, 0.909em + 0.45vmin, 1.25em);
  /* use system font stack: https://developer.mozilla.org/en-US/docs/Web/CSS/font-family */
  font-family: system-ui;
}

body {
  margin: 0;
  padding: 0;
}

/* increase line-height for everything except headings */
body :not(:is(h1, h2, h3, h4, h5, h6)) {
  line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Franklin";
}

canvas {
  width: 100%;
}
